@use '@carbon/react' with (
  $use-flexbox-grid: true
);

@use '@carbon/colors';

@use '@carbon/react/scss/breakpoint' as *;

@use '@/components/Navbar/navbar';
@use '@/components/InfoCard/info-card';

@use '@/app/home/landing-page';

@media (min-width: 42rem) {
  .cds--grid--no-gutter {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.cds--content {
  margin-top: 3rem;
  padding: 0;
}

.cds--content .cds--css-grid {
  max-width: 100%;
  @include breakpoint(md) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

svg.white {
  fill: white;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bg-primary {
  background: colors.$blue-60;
}

li {
  margin-bottom: 0.5rem;
}
